img {
  width: 35%;
  padding: 10px;
}

body {
  background-color: rgb(13, 13, 14);
  color: white;
  width: 1000px;
}

h1 {
  color: white;
}

a {
  color: goldenrod;
}

nav {
  color: white;
}

p:hover {
  background-color: white;
}
