img {
  width: 35%;
  padding: 10px;
}

body {
  background-color: rgb(13, 13, 14);
  color: white;
  width: 1000px;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  color: white;
  font-weight: bold;
}

a {
  color: goldenrod !important;
}

nav {
  color: white;
}

a:hover {
  background-color: white;
}
